@use '../abstracts' as *;

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5em;
  line-height: 1;
  font-weight: 700;

  &__img {
    line-height: 0;
    padding: 0.5em;
    max-width: 2.5rem;
    margin-left: 1em;
    @include shdw;
    @include t-trns;

    &:hover,
    &:focus {
      @include grow;
    }
  }

  &__join,
  &__purple,
  &__teal,
  &__blue,
  &__red,
  &__green,
  &__mag {
    font-size: 1.125rem;
    color: #ffffff;
    @include shdw;
    @include t-trns;

    &:hover,
    &:focus {
      @include grow;
    }
  }

  &__grey {
    font-size: 1.125rem;
    color: #444444;
    @include shdw;
  }

  &__join,
  &__purple {
    padding: 0.75em;
    background: #6C2DBC; 
  }

  &__teal {
    background: rgb(45, 188, 162);
  }

  &__blue {
    background: #00A8DE;
  }

  &__red {
    background: #EB2D2E;
  }

  &__darkpurple {
    background: #7229a9;
  }

  &__green {
    background: #7CDE00;
  }

  &__mag {
    background: #DE00A0;
    margin-left: 1.125em;
  }

  &__purple {
    padding: 0.75em;
    width: 80%;
    margin: 1em auto 0.5em;
  }

  &__add,
  &__remove,
  &__edit,
  &__back {
    padding: 0.75em;
  }

  &__edit {
    &--final {
      margin-top: 1.25em;
      width: 94%;
      padding: 0.563em 0.75em;
      @include grow-sm;
    }
  }

  &__upload {
    margin-top: 1.25em;
    padding: 0.5em 0.75em;
    @include grow-sm;
  }

  &__spacing {
    margin: 1em auto 0.5em;
  }

  &__width {
    width: 100%;
    max-width: 6rem;
  }

  &__add {
    &--new {
      margin-top: 0.75em;
      max-width: initial;
    }
  }

  &__remove {
    &-sm {
      position: absolute;
      top: 0.5rem;
      right: 0.75rem;
      z-index: 1;
      font-size: 0.875rem;
      padding: 0.25em 0.5em;
      @include shdw-sm;
    }
  }

  &__fav {
    align-self: flex-end;
    background: none;
    padding: 0;
    margin: 0;
  }

  &__pay {
    padding: 0.75em;
    width: 100%;
    max-width: 20rem;
    margin-top: 0.75em;

    @media (min-width: 650px) {
      margin-top: 0;
      max-width: 16rem;
    }
  }

  &__back {
    margin-top: 0.5em;
  }

  &__login-sm {
    font-size: 0.625rem;
    padding: 0.313em 0.375em;
    color: #ffffff;
    background: #6C2DBC; 
    @include shdw-sm;
  }

  &__register {
    width: 80%;
    padding: 0.75em;
  }

  &__logout {
    margin-left: 0;

    @media (min-width: 665px) {
      margin-left: 1em;
    }
  }

  &__create {
    margin: 1.5em auto 0.5em;
  }

  &__cart {
    font-size: 0.875rem;
    height: 1.65rem;
    width: 1.65rem;
    margin-right: 2px;
    @include shdw-sm;
  }

  &__delete {
    // font-size: 0.875rem;
    // line-height: 1;
    // color: #ffffff;
    // width: 6rem;
    // margin-bottom: 2px;
    // padding: 0.375em 0 0.313em;
    // @include shdw-sm;

    cursor: pointer;
    background: #EB2D2E;
    color: #ffffff;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1;
    border-radius: 1em;
    height: 1.25rem;
    width: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    @include shdw-sm;
    @include t-trns;

    &:hover,
    &:focus {
      @include grow;
    }
  }
}

