@use '../abstracts' as *;

.gallery {

  &__banner {
    margin-bottom: 1em;
    border-radius: 1em;
    @include t-trns;
    @include shdw;

    &:hover,
    &:focus {
      @include grow-sm;
    }
  }

  &__wrap {
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }

  &__card {
    position: relative;
    border-top-left-radius: 0.5em;
    overflow: hidden;
    @include t-trns;

    &:hover,
    &:focus {
      @include grow-sm;
    }
  }

  &__image {
    cursor: pointer;
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;

    @media (min-width: 650px) {
      max-width: 19.75rem;
      max-height: 11rem;
    }

    &--file {
      cursor: pointer;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__fav {
    z-index: 1;
    max-width: 2rem;
    position: absolute;
    top: 0.65em;
    right: 0.5em;
    @include t-trns;

    &:hover,
    &:focus {
      @include grow-2x;
    }
  }

  &__individual {
    width: 100%;
    position: relative;
    overflow: hidden;

    &--img {
      cursor: pointer;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__information {
    text-align: right;
    line-height: 1.2;
    position: absolute;
    bottom: -1px;
    right: -1px;
    background: #ffffff;
    padding: 0.5em 0.75em 0.5em 1em;
    border-top-left-radius: 0.75em;
    @include t-trns;

    &:hover,
    &:focus {
      @include grow-sm;
    }

    @media (min-width: 450px) {
      font-size: 0.875rem;
    }
  }

  &__pictures {
    margin-top: 1em;
    gap: 1.5em;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__ind {
    width: 100%;
    overflow: hidden;
    position: relative;

    @media (min-width: 650px) {
      max-width: 19.75rem;
      max-height: 11rem;
    }

    &--img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__personal {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25em;

    &--img {
      position: relative;
      width: 100%;
      align-self: center;
      border-radius: 0.5em;
      @include t-trns;

      @media (min-width: 650px) {
        max-width: 25rem;
        max-height: 15rem;
        overflow: hidden;
      }

      &:hover,
      &:focus {
        @include grow-sm;
      }
    }
  }

  &__spacing {
    margin-top: 0.5em;
  }

  &__price {
    position: absolute;
    line-height: 1;
    gap: 0.25em;
    top: 0.5rem;
    left: 0;
    background: #6C2DBC;
    color: #ffffff;
    padding: 0.5em 0.625em 0.5em 0.75em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    @include t-trns;

    &:hover,
    &:focus {
      @include grow-sm;
    }

    &--sm {
      font-size: 1rem !important;
      position: relative;
      bottom: 3px;
    }

    &--personal {
      top: initial;
      left: initial;
      bottom: 0.5rem;
      right: 0;
      border-top-right-radius: 0em;
      border-bottom-right-radius: 0em;
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
    }
  }

  &__error {
    margin: 1em 0;
  }
}