@use '../abstracts' as *;

.input {
  border: none;
  outline: none;
  border-radius: 0.5em;
  height: 40px;
  width: 100%;
  background: #fbfbfb;
  @include shdw;

  &__label {
    position: absolute;
    bottom: 2.125rem;
    left: 0.5rem;
    font-size: 0.65rem;
    font-weight: 700;
    line-height: 1;
    border-radius: 0.5em;
    padding: 0.25em 0.375em;
    background: #fbfbfb;
    color: #000000;
    @include shdw-sm;

    &--container {
      position: relative;
      @include t-trns;

      &:hover,
      &:focus {
        @include grow-sm;
      }
    }

    &--chk {
      text-align: left;
      width: 90%;
      margin: 0 auto;
      line-height: 1.1;
    }

    &--sub {
      text-align: left;
      margin: 0 auto;
      line-height: 1.1;
    }

    &--ta {
      top: 0.625rem;
      bottom: initial;
    }
  }

  &__checks {
    margin-top: 1em;
  }

  &__news {
    padding: 0.5em 0.75em;
    font-weight: 600;
  
    &::placeholder {
      font-weight: 600;
      color: #888888;
    }
  }

  &__search {
    padding: 0.5em 2.25em 0.5em 0.75em;

    @media (min-width: 750px) {
      width: 19rem;
    }

    @media (min-width: 1000px) {
      width: 24rem;
    }
  
    &::placeholder {
      color: #000000;
    }
  }

  &__form {
    padding: 0.5em 0.75em;
    margin-top: 1.25em;
    font-weight: 600;

    &::placeholder {
      font-weight: 600;
      color: #888888;
    }

    &--ta {
      height: 8rem;
    }

    &::file-selector-button {
      display: flex;
      color: #ffffff;
      background: #DE00A0;
      position: absolute;
      right: 0;
      bottom: 0.313em;
      margin: 0.5em 0.75em;
      padding: 0.313em 0.5em;
      border-radius: 0.5em;
      border: none;
      font-weight: 700;
      font-size: 0.75rem;
      @include shdw-sm;
    }
  }

  &__light {
    @include shdw (#C99EFF);

    &-la {
      @include shdw-sm (#C99EFF);
    }
  }

  &__dark {
    @include shdw (#6C2DBC);

    &-la {
      @include shdw-sm (#6C2DBC);
    }
  }

  &__buttons {
    margin-top: 1em;
    gap: 1em;
    justify-content: center;
  }

  &__upload {
    width: 100%;
  }

  &__warning {
    margin: 0.5em 0 0 0.5em;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 600;
    color: red;
  }

  &__checking {
    @media (min-width: 750px) {
      align-self: flex-end;
    }
  }

  &__final {
    margin-top: 1em;
    flex-direction: column;
    gap: 1em;

    @media (min-width: 750px) {
      flex-direction: initial;
      justify-content: space-between;
    }
  }

  &__image {
    border-radius: 0.5em;
    background: #c8c8c8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;

    &--prev {
      color: #ffffff;
      font-weight: 600;
      font-size: 2rem;
      padding: 2em 0;
    }

    @media (min-width: 750px) {
      max-width: 20rem;
    }
  }

  &__reset {
    position: relative;

    &--remove {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      background: red;
      color: #ffffff;
      font-weight: 700;
      font-size: 0.75rem;
      line-height: 1;
      border-radius: 1em;
      margin: 0.75em 0.75em 0 0;
      
      height: 1.25rem;
      width: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      outline: none;
      @include shdw-sm;
      @include t-trns;

      &:hover,
      &:focus {
        @include grow;
      }
    }
  }

  &__password {
    margin: 0 auto;
    max-width: 48%;
  }

  @media (min-width: 750px) {
    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__variable {
      width: 48%;

      &--full {
        width: 100%;
      }
    }
  }
}

.select {
  &__sorting {
    cursor: pointer;
    width: 12rem;
    margin-top: 1em;
    padding: 0.5em 0 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    outline: none;
    background-color: #fbfbfb;
    font-weight: 700;
    color: #000000;
    @include shdw-sm;
    @include t-trns;

    &:hover,
    &:focus {
      @include grow;
    }

    @media (min-width: 680px) {
      margin-top: 0em;
    }
  }
}

select {
  appearance: none !important;
  background: url(../../images/dropdown.png) no-repeat right #fbfbfb !important;
  background-position: calc(100% - 1rem) center !important;
  background-size: 0.75rem !important;
}